<% form_for @person do |f| %>
  <%= f.error_messages %>

  <%= image_tag "stock_person.png", :class => 'polaroid-image', :size => '' %>

  <%= f.label 'Name' %>
  <%= f.text_field :first_name, :title => 'first name', :size => 20 %>
  <%= f.text_field :middle_name, :title => 'middle name', :size => 20 %>
  <%= f.text_field :last_name, :title => 'last name', :size => 20 %>

  <div class="clearfix">&nbsp;</div>

  <%= f.label 'Addresses' %>
  <% @person.locations.each do |location| %>
    <%#= f.text_field location.street_number %>
  <% end %>

  <div class="clearfix">&nbsp;</div>

  <%= f.submit 'Save' %>
  <%= link_to 'Cancel', people_path %>

<% end %>