<% form_for @person do |f| %>
  <%= f.error_messages %>

  <%= image_tag "stock_person.png", :class => 'polaroid-image', :size => '' %>

  <label>ID</label>
  <%= f.text_field :ssn, :title => 'ssn', :size => 25 %>
  <%= f.text_field :dob, :title => 'dob', :size => 25 %>

  <div class="clearfix">&nbsp;</div>

  <label>Name</label>
  <%= f.text_field :first_name, :title => 'first', :size => 25 %>
  <%= f.text_field :middle_name, :title => 'middle', :size => 15 %>
  <%= f.text_field :last_name, :title => 'last', :size => 25 %>

  <div class="clearfix">&nbsp;</div>

  <label>Details</label>
  <%= f.collection_select :gender_id, Gender.active, :id, :value, {:prompt => 'Gender'} %>
  <%= f.collection_select :race_id, Race.active, :id, :value, {:prompt => 'Race'} %>
  <%= f.collection_select :eye_color_id, EyeColor.active, :id, :value, {:prompt => 'Eye Color'} %>
  <%= f.collection_select :hair_color_id, HairColor.active, :id, :value, {:prompt => 'Hair Color'} %>

  <div class="clearfix">&nbsp;</div>

  <%= f.label 'Aliases' %>
  <table class="dataTable short ui-widget-content">
    <thead>
      <tr class="ui-widget-header">
        <th>Entered</th>
        <th>SSN</th>
        <th>Name</th>
        <th>DOB</th>
      </tr>
    </thead>
    <tbody>
      <% @person.person_master.people.each do |person| %>
        <% url = url_for( :action => "edit", :id => person ) %>
        <tr ata-dialog-url='<%= url -%>' >
          <%= content_tag :td, link_to( person.created_at.strftime("%m/%d/%Y"), url ) %>
          <%= content_tag :td, person.ssn %>
          <%= content_tag :td, person.full_name %>
          <%= content_tag :td, person.dob ? person.dob.strftime("%m/%d/%Y") : 'n/a' %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <%= f.label 'Contacts' %>
  <table class="dataTable short ui-widget-content">
    <thead>
      <tr class="ui-widget-header">
        <th>Category</th>
        <th>Address</th>
        <th>Phone #</th>
      </tr>
    </thead>
    <tbody>
      <% @person.contacts.each do |contact| %>
        <tr>
          <%= content_tag :td, contact.role.try(:value) %>
          <%= content_tag :td, contact.location.full_address %>
          <%= content_tag :td, number_to_phone(contact.phone_number, :area_code => true, :delimiter => ' ') %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <%= f.label 'Incidents' %>
  <table class="dataTable short ui-widget-content">
    <thead>
      <tr class="ui-widget-header">
        <td>Report #</td>
        <td>Offense</td>
        <td>Dispatch Date/Time</td>
      </tr>
    </thead>
    <tbody>
      <% @person.person_involvements.each do |involvement| %>
        <tr>
          <%= content_tag :td, involvement.report.number %>
          <%= content_tag :td, involvement.report.offense.try(:value) %>
          <%= content_tag :td, involvement.report.dispatched_at.strftime("%m/%d/%Y %R") %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix" style="clear:both;">&nbsp;</div>

  <%= f.submit 'Save' %>
  <%= link_to 'Cancel', people_path %>

<% end %>