<table class="dataTable full ui-widget-content">
  <thead>
    <tr class="ui-widget-header">
      <th>SSN</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <% url = url_for( :action => "edit", :id => person ) %>
      <tr data-dialog-url='<%= url -%>' >
        <%= content_tag :td, link_to( person.ssn, url ) %>
        <%= content_tag :td, person.first_name %>
        <%= content_tag :td, person.middle_name %>
        <%= content_tag :td, person.last_name %>
        <% if person.dob %>
          <%= content_tag :td, person.dob.strftime("%m/%d/%Y") %>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>