<% form_for :person, :action => :new, :html => { :method => :get } do |f| %>

  <%= f.error_messages %>

  <%= f.text_field 'term', :class => 'search focus', 'data-search-url' => search_people_path %>
  <%= f.submit 'Search for an existing person', :id => 'person_search', :name => 'search' %>
  <%= f.submit 'Enter a new person', :id => 'person_new', :name => 'new' %>

  <hr class="clearfix" />

  <div id="people">
    <%= render 'people_table' %>
  </div>
  
<% end %>

<div id="dialog-form" data-dialog-title="Person Details" data-dialog-width="700"></div>
