<% current_date = DateTime.now %>

<% form_for :incident do |f| %>
  <%= f.error_messages %>

  <%= f.label :number, 'Incident #' %>
  <%= f.text_field :number, :title => 'incident-1001' %>
  <%= f.submit 'Create New' if !@incident || @incident.new_record? %>

  <hr />

  <%= f.label :incident_cat %>
  <%= f.select :incident_cat, IncidentCat.active.map{|i| [i.name, i.id]}, {:include_blank => ''} %>
  <%= f.label :arrived_at, 'Times' %>
  <%= f.text_field :dispatched_at, :size => 12, :class => 'datepicker', :title => 'dispatched at' %>
  <%= f.text_field :arrived_at, :size => 12, :class => 'datepicker', :title => 'arrived at' %>
  <%= f.text_field :cleared_at, :size => 12, :class => 'timepicker', :title => 'cleared at' %>

  <div class="clearfix">&nbsp;</div>

  <label>Persons</label>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Mugshot</th>
      </tr>
    </thead>
    <tbody>
      <% @incident.people.each do |p| %>
        <tr>
          <%= content_tag :td, p.first_name %>
          <%= content_tag :td, p.last_name %>
          <%= content_tag :td, p.address %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <label>Officers</label>
  <table>
    <thead>
      <tr>
        <th>Badge #</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%# @incident.officers.each do |o| %>
        <tr>
          <%#= content_tag :td, o.badge %>
          <%#= content_tag :td, o.full_name %>
        </tr>
      <%# end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <label>Vehicles</label>
  <table>
    <thead>
      <tr>
        <th>VIN</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Color</th>
        <th>License</th>
      </tr>
    </thead>
    <tbody>
      <%# @incident.vehicles.each do |v| %>
      <%# end %>
      <tr>
        <td>ASFASLWERWER2342</td>
        <td>1983</td>
        <td>VW</td>
        <td>Rabbit GTI</td>
        <td>Black</td>
        <td>123-xyz</td>
      </tr>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <label>Property</label>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gun</td>
        <td>S&W 9mm</td>
      </tr>
      <tr>
        <td>Drugs</td>
        <td>5oz. of pot in a little plastic baggie + 2 rolled joints and 1 partially smoked roach.</td>
      </tr>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <%= f.label :narrative %>
  <%= f.text_area :narrative, :rows => 10, :cols => 80, :title => 'Describe the incident here...' %>

  <div class="clearfix">&nbsp;</div>

  <%= f.submit 'Save' %>
<% end %>


