<% form_for :incident, :action => :new, :html => { :method => :get } do |f| %>

  <%= f.error_messages %>

  <%= f.text_field 'term', :class => 'search focus', 'data-search-url' => search_incidents_path %>
  <%= f.submit 'Search for an existing incident', :name => 'search' %>
  <%= f.submit 'Enter a new incident', :name => 'new' %>

  <hr class="clearfix" />

  <div id="incidents">
    <%= render 'incidents_table' %>
  </div>

<% end %>


