<table class="dataTable full ui-widget-content">
  <thead>
    <tr class="ui-widget-header">
      <th>VIN</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr data-dialog-url='<%= url_for( :action => "edit", :id => vehicle ) -%>' >
        <%= content_tag :td, vehicle.vin %>
        <%= content_tag :td, vehicle.vehicle_make.try(:value) %>
        <%= content_tag :td, vehicle.vehicle_model.try(:value) %>
        <%= content_tag :td, vehicle.year %>
        <%= content_tag :td, vehicle.vehicle_color.try(:value) %>
        <%= content_tag :td, truncate(vehicle.description, {:length => 150}) %>
      </tr>
    <% end %>
  </tbody>
</table>