<table class="dataTable">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td>
        <%= link_to (vehicle.vin.nil? ? '[edit]' : vehicle.vin), {:action => 'edit', :id => vehicle} %>
        </td>
        <%= content_tag :td, vehicle.vehicle_make.value %>
        <%= content_tag :td, vehicle.vehicle_model.value %>
        <%= content_tag :td, vehicle.year %>
        <%= content_tag :td, vehicle.vehicle_color.value %>
        <%= content_tag :td, truncate(vehicle.description, {:length => 150}) %>
      </tr>
    <% end %>
  </tbody>
</table>