<% form_for :vehicle, :action => :new, :html => { :method => :get } do |f| %>

  <%= f.error_messages %>

  <%= f.text_field 'term', :class => 'search focus', 'data-search-url' => search_vehicles_path %>
  <%= f.submit 'Search for an existing vehicle', :name => 'search' %>
  <%= f.submit 'Enter a new vehicle', :name => 'new' %>

  <hr class="clearfix" />

  <div id="vehicles">
    <%= render 'vehicles_table' %>
  </div>
<% end %>

<div id="dialog-form" data-dialog-title="Vehicle Details"></div>
