<% form_for @user_session do |f| %>
  <%= f.error_messages %>

  <%= f.label :login %>
  <%= f.text_field :login, :class => "focus" %>

  <br />

  <%= f.label :password %>
  <%= f.password_field :password %>

  <div class="clearfix">&nbsp;</div>

  <%= f.submit 'Login', :id => 'send' %>
<% end %>