<% current_date = DateTime.now %>

<% form_for :report do |f| %>
  <%= f.error_messages %>

  <%= f.label :number, 'Report #' %>
  <%= f.text_field :number, :disabled => true %>
  <%#= f.text_field :number, :title => 'report-1001', :class => 'autocomplete',
    'data-autocomplete-url' => 'incidents.js' %>
  <%= f.submit 'Create New' if !@report || @report.new_record? %>

  <hr />

  <%= f.label :offence %>
  <%= select :offence, Offence.active.map{|i| [i.name, i.id]}, {:include_blank => ''} %>
  <%= f.label :arrived_at, 'Times' %>
  <%= f.text_field :dispatched_at, :size => 12, :class => 'datepicker', :title => 'dispatched at' %>
  <%= f.text_field :arrived_at, :size => 12, :class => 'datepicker', :title => 'arrived at' %>
  <%= f.text_field :cleared_at, :size => 12, :class => 'timepicker', :title => 'cleared at' %>

  <div class="clearfix">&nbsp;</div>

  <label>Persons</label>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Mugshot</th>
      </tr>
    </thead>
    <tbody>
      <% @report.people.each do |p| %>
        <tr>
          <%= content_tag :td, p.first_name %>
          <%= content_tag :td, p.last_name %>
          <%= content_tag :td, p.address %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <label>Officers</label>
  <table>
    <thead>
      <tr>
        <th>Badge #</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%# @report.officers.each do |o| %>
      <tr><td></td><td></td>
          <%#= content_tag :td, o.badge %>
          <%#= content_tag :td, o.full_name %>
        </tr>
      <%# end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <label>Vehicles</label>
  <table>
    <thead>
      <tr>
        <th>VIN</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Color</th>
        <th>License</th>
      </tr>
    </thead>
    <tbody>
      <% @report.vehicles.each do |v| %>
      <tr>
        <%= content_tag :td, v.vin %>
        <%= content_tag :td, v.year %>
        <%= content_tag :td, v.make %>
        <%= content_tag :td, v.model %>
        <%= content_tag :td, v.color %>
        <%= content_tag :td, v.license %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <label>Property</label>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @report.properties.each do |p| %>
      <tr>
        <%= content_tag :td, p.type %>
        <%= content_tag :td, p.description %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix">&nbsp;</div>

  <%= f.label :narrative %>
  <%= f.text_area :narrative, :rows => 10, :cols => 80, :title => 'Describe the report here...' %>

  <div class="clearfix">&nbsp;</div>

  <%= f.submit 'Save' %>
<% end %>


