<% form_for :report, :action => :new, :html => { :method => :get } do |f| %>

  <%= f.error_messages %>

  <%= f.text_field 'term', :class => 'search focus', 'data-search-url' => search_reports_path %>
  <%= f.submit 'Search for an existing report', :name => 'search' %>
  <%= f.submit 'Enter a new report', :name => 'new' %>

  <hr class="clearfix" />

  <div id="incidents">
    <%= render 'reports_table' %>
  </div>

<% end %>

<div d="dialog-form" data-dialog-title="Report Details"></div>