<% form_for @location do |f| %>
  <%= f.error_messages %>

  <%= image_tag "stock_map.png", :class => 'map', :size => '300x300' %>

  <label>Street Number</label>
  <%= f.text_field :street_number, :title => 'number', :class => 'focus' %><br />
  <label>Name</label>
  <%= f.text_field :street_name, :title => 'name' %><br />
  <label>Block</label>
  <%= f.text_field :block, :title => 'block' %><br />
  <label>X-Street</label>
  <%= f.text_field :crossstreet, :title => 'crossstreet' %><br />

  <div class="clearfix">&nbsp;</div>

  <label>City</label>
  <%= f.text_field :city, :title => 'city' %><br />
  <label>&nbsp;</label>
  <%= f.collection_select :state, Region.active, :code, :value, {:prompt => ''} %>
  <%= f.text_field :postal_code, :title => 'postal code', :size => 10 %><br />

  <%#= f.label 'Description' %>
  <%#= f.text_area :description, :rows => 10, :cols => 80, :class => 'wysiwyg' %>

  <div class="clearfix">&nbsp;</div>

  <%= f.submit 'Save' %>
  <%= link_to 'Cancel', locations_path %>

<% end %>
