<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <meta name="robots" content="index,follow" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Dingo<%= " - " + controller.controller_name.humanize -%></title>

    <%= stylesheet_link_tag 'reset', 'smoothness/jquery-ui-1.8.1.custom',
      'main', :cache => '../system/all' -%>

    <%= @content_for_page_header -%>
  </head>

  <body>
    <div class='container'>
      <div id='header'>
        <h1 style="float:left;">Dingo - Law Enforcement RMS</h1>

        <div id="user_nav" class="ui-widget ui-corner-all">
          <% if !current_user %>
            <span><%= link_to " log in ", login_path %></span>
          <% else %>
            <span><%= current_user.full_name %></span> |
            <span><%= link_to 'My Account', edit_account_path() %></span> |
            <span><%= link_to "log out", logout_path, :method => :delete %></span>
          <% end %>
        </div>
      </div>
      <div id='flash'><%= show_flash %></div>

      <div class='ui-tabs ui-widget ui-widget-content ui-corner-all'>
        <ul class='ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
          <%= menu_builder(request.path_parameters['controller'].split('/')[0]) %>
        </ul>

        <div id="content" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
          <%= yield  %>
        </div>

      </div>

      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
